doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    title お知らせ君
    link(rel="stylesheet" href="../css/all.css")
  body
    .cover
      .screen.rounded
        #main
          i.fa.fa-spinner.fa-pulse.fa-fw(aria-hidden: true)
          span 画面の読み込み中…
    script.
      require("../js/renderer.js");
