@charset "utf-8";

@import "bootstrap";
@import "font-awesome";

html {
  background-color: rgba(black, .2);
  width: 100%;
  height: 100%;
  color: white;
  font-family: sans-serif;
}

body {
  background-color: inherit;
  width: 100%;
  height: 100%;
  color: inherit;
}

.cover {
  position: relative;
  background-color: inherit;
  width: 100%;
  height: 100%;
  color: inherit;
}

.screen {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-color: white;
  padding: .5rem;
  width: 800px;
  height: 600px;
  color: black;

  header {
    position: absolute;
    top: 8px;
    height: 48px;
    width: 784px;
  }
  main {
    position: absolute;
    top: 60px;
    width: 784px;
  }
  footer {
    position: absolute;
    top: 554px;
    height: 30px;
    width: 784px;
    .tags {
      text-align: right;
    }
    hr {
      margin-top: 0.2rem;
      margin-bottom: 0.2rem;
    }
  }
}

.debug {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto 0 0 auto;
  background-color: rgba(white, .5);
  padding: .5rem;
  width: 400px;
  height: 50px;
  color: black;
}
