@charset "utf-8";

@import "bootstrap";
@import "font-awesome";

html {
  background-color: rgba(black, 0.5);
  font-family: sans-serif;
}

body {
  background-color: inherit;
}

.content {
  background-color: white;
}
