doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    title お知らせ君
    link(rel="stylesheet" href="css/all.css")
  body
    .content
      i.fa.fa-camera(aria-hidden="true")
      #main
      button#quit-button
        | 終了
    script.
      require("./js/index.js");
      $('#quit-button').click((e) => {
        require("electron").remote.app.quit();
      });
